.Note {
  background-color: darkgrey;
  color: black;

  padding: 20px;
  border: 1px solid red;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto 8px;
}

.Note_title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  font-size: 20px;
  margin: 10px 0;
}

.Note_title a {
  color: black;
  display: block;
  text-decoration: none;
}
.Note_title a:hover {
  color: #ffb72f;
}

.Note_delete {
  background-color: #041a3a;
  border: 0;
  color: #bdbcbc;
  font-size: 12px;
  margin: 10px 5px;
  padding: 10px;
}
.Note_delete:hover {
  background-color: #bd0909;
  color: white;
  cursor: pointer;
}

.Note_Date {
  color: darkslategray;
  font-size: 14px;
}
